div[class^="premiumTab"] {
     display: none !important;
}

ul>li:nth-child(3)>div[class^="interactive"] {
     display: none !important;
}

button[class^="shinyButton"] {
     display: none !important;
}

*[class*="itroUpsell"] {
     display: none !important;
}

*[class*="itroWheel"] {
     display: none !important;
}

div[class*="buttons"]>button:nth-child(1)>*[class*="utton"] {
     display: none !important;
}

div[class^="premiumIconWrapper"] {
     display: none !important;
}

div[class^="sidebar-"] *[class^="channelNotice"] {
     display: none !important;
}

div[class^="badgeIconPrivateMessages"][alt="Wumpus holding a country-specific flag"] {
     display: none !important;
}

div[class^="limitedFeatureBorder"] {
     display: none !important;
}

div[class^="premiumFeatureBorder"] {
     display: none !important;
}

div[class^="optionBox"]:nth-child(2) {
     display: none !important;
}

div[aria-label^="Gift Inventory"] {
     display: none!important;
}

div[aria-label^="Subscriptions"] {
    display: none!important;
}

div[aria-label^="Buy Boosts to help unlock Level 2 perks!"] {
    display: none!important;
}

#guild-header-popout-premium-subscribe {
    display: none!important;
}

div[class^="flowerStarContainer"] {
    display: none!important;
}

div[class^="serverBoostTabItem"] {
    display: none!important;
}

/* Super Reactions. Not thoroughly tested. */
div#message-add-reaction-1 {
     display: none;
}

/* Hide new "Shop" tab. May or may not break, but seems resilient enough for now.*/
div > a[href="/shop"] {
    display: none;
}

[class*="shopForAllBackgroundImage"] {
    display: none!important;
}

/* Removes the server boost section. May break at any point. */

[class*="container"][class*="containerWithMargin"] {
    display: none!important;
}

/* Palworld Promo */
.container_da1432 {
     display: none!important
}

/* New "Join XYZ on Nitro" banner in sidepanel */
div[class*="userPanelInner"] > div[class*="scrollerBase"] > div[class*="overlay2"] {
    display: none
}

/* Anything that is "premium" colored, AKA Nitro */
div[class*="colorPremiumTier"] {
	display: none!important;
}
